nb-examples/
.ipynb_checkpoints/
.virtual_documents/
.DS_Store

datasets/players.csv
datasets/players_classification.csv
datasets/tennis_matches_cleaned.csv

.vscode

report/*.aux
report/*.log
report/*.out
report/*.toc
report/*.gz
report/*.fls
report/*.fdb_latexmk